@model PWEB.Helpers.InputInicial;

@{
    ViewData["Title"] = "PWEB";
}

<div id="navbarHeader">
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
                <h2>Aluguer de carros - Pesquise, compare e poupe</h2>

                <p class="text-muted">Cancelamento gratuito na maioria das reservas</p>

                <p class="text-muted">Mais de 60 000 localizações</p>

                <p class="text-muted">Apoio ao cliente em mais de 40 idiomas</p>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">

        <form asp-action="Create">
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <label asp-for="Localizacao" class="control-label"></label>
                        <input asp-for="Localizacao" asp-items="ViewBag.ListaCategorias" class="form-control" />
                        <span asp-validation-for="Localizacao" class="text-danger"></span>
                    </li>
                    <li class="nav-item">
                        <label asp-for="Tipo" class="control-label"></label>
                        <select asp-for="Tipo" asp-items="ViewBag.tipo" class="form-control"></select>
                        <span asp-validation-for="Tipo" class="text-danger"></span>
                    </li>
                    <li class="nav-item">
                        <label asp-for="Levantamento" class="control-label"></label>
                        <input asp-for="Levantamento" class="form-control" />
                        <span asp-validation-for="Levantamento" class="text-danger"></span>
                    </li>
                    <li class="nav-item">
                        <label asp-for="Entrega" class="control-label"></label>
                        <input asp-for="Entrega" class="form-control" />
                        <span asp-validation-for="Entrega" class="text-danger"></span>
                    </li>
                    <li class="nav-item">
                        <label></label>
                        <input type="submit" value="InputInicial" class="btn btn-primary form-control" />
                    </li>
                
                </ul>
            </div>
        </form>
    </div>
</nav>

