@model PWEB.Models.Recolha

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Recolha</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input type="hidden" class="form-control" id="rId" name="rId" value="@ViewBag.Reserva" />
            </div>

            <div class="form-group">
                <label asp-for="Kilometros" class="control-label"></label>
                <input asp-for="Kilometros" class="form-control" />
                <span asp-validation-for="Kilometros" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Danos" /> @Html.DisplayNameFor(model => model.Danos)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Observaçoes" class="control-label"></label>
                <input asp-for="Observaçoes" class="form-control" />
                <span asp-validation-for="Observaçoes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <select hidden asp-for="EmpregadoId" class ="form-control" asp-items="ViewBag.EmpregadoId"></select>
            </div>
            <p>Caso pretenda adicionar imagens de danos na viatura, adicione no botão "Imagem" na lista "Gestão de Recolhas" depois de submeter este formulário</p>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>    
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
